/* CSS declarations go here */
/* CSS declarations go here */
body {
    font-family: sans-serif;
    background-image: linear-gradient(to bottom, #21A486, #1C9EC6 100%);
    background-attachment: fixed;
}

.container {
    max-width: 90%;
    margin: 50px auto;
    box-shadow: 0 0 50px 0px;
    padding:0;
    background: white;
    border-radius: 10px;
}

#images {
	text-align: center;
	padding: 70px 0;
    border-radius: 10px;
}

.image {
	border:none;
	display: inline-block;
	padding: 0;
	margin:10px;
}

.image img {
	border-radius: 50%;
}

.keywords {
	position: absolute;
    top: 0;
    height: 100%;
    width:100%;
    background: rgba(255, 255, 255, .7);
}

.keywords li {
	padding: 10px 0;
	border:none;
}

header {
    background: white;
    padding: 20px 15px 15px 15px;
    position: relative;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 30px;
}

form {
	width:400px;
	display: inline-block;
	margin: 0 30px 0 0 !important;
}

form input {
	border-bottom: 3px solid #21A486 !important;
	font-size: 1.7em !important;
	width: 400px !important;
}

header button {
	background: #21A486;
    border: none;
    color: white;
    border-radius: 10px;
    width: 200px;
    display: inline-block;
    font-size: 2em;
}

#login-buttons {
    display: block;
}

h1 {
    font-size: 3em;
    text-align: center;
    color: #21A486;
    font-weight: bold;
    margin-bottom:90px;
}

form {
    margin-top: 10px;
    margin-bottom: -10px;
    position: relative;
}

.findGift input {
    box-sizing: border-box;
    padding: 10px 0;
    background: transparent;
    border: none;
    width: 100%;
    padding-right: 80px;
    font-size: 1em;
}

button {
    width: 100%;
    padding: 5px;
}

.findGift input:focus{
    outline: 0;
}

ul {
    margin: 0;
    padding: 0;
    background: white;
}

.delete {
    float: right;
    font-weight: bold;
    background: none;
    font-size: 1em;
    border: none;
    position: relative;
}

li {
    position: relative;
    list-style: none;
    padding: 15px;
    border-bottom: #eee solid 1px;
}

li .text {
    margin-left: 10px;
}

li.checked {
    color: #888;
}

li.checked .text {
    text-decoration: line-through;
}

li.private {
    background: #eee;
    border-color: #ddd;
}

header .hide-completed {
    float: right;
}

.toggle-private {
    margin-left: 5px;
}

@media (max-width: 600px) {
    li {
        padding: 12px 15px;
    }

    .search {
        width: 150px;
        clear: both;
    }

    .findGift input {
        padding-bottom: 5px;
    }
}